/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
   color: rgb(34, 229, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image:url(pn.jpg) ;
    
    
}
.titulo{

    font-size: 60px;
    text-align:100px ;
    color: rgb(255, 255, 255);
}
.imagen1{
background-image: url(cir.jfif);
height: 171px;
width: 315px;
background-repeat: no-repeat;
float: left;

}
.imglogo{

width: 1000px;
height: 1000px;
background-image: url("imaguen\ paguina.webp");


}