/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
   color: rgb(92, 229, 253);
}
.principal{
   display: flex;
     
}
body{
    background-image:url(pn.jpg) ;
    
    
}
.titulo{

    font-size: 60px;
    text-align:100px ;
    color: rgb(255, 153, 0);
}
.imagen1{
background-image: url(circuito.webp);
height: 297px;
width: 568px;
background-repeat: no-repeat;
float: left;

}